body {background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#93a399), color-stop(50%,#bcc6c0), color-stop(100%,#e5e9e7)); font-family:"Segoe UI Light";}
body {background: -ms-linear-gradient(top, #A9B2AD 5%,#7C8593 50%,#6a8da5 95%); font-family:"Segoe UI Light";}
h1 {color:black; text-align:center; font-size:48;}
h2 {color:black; text-align:center; font-size:32;}
h3.fam {color:black; text-align:center; font-size:26; font-style:italic}
h3.aca {color:black; text-align:left; font-size:24;}
h3.ath {color:black; text-align:left; font-size:26;}
ul {list-style-type:none;text-align:left;font-size:22}
p  {color:black; text-align:center; font-size:24; font-family:"Segoe UI Light"}
p.sitename  {color:white; text-align:center; font-size:24;}
p.link  {color:black; text-align:center; font-size:20;}
table.athletic {margin-left: auto;margin-right: auto; font-size:18; align: center}
img.center {  display: block;  margin-left: auto;  margin-right: auto;}

/* academic */

span.dropt:hover {text-decoration: none; background: #ffffff; z-index: 12; }
span.dropt span {position: absolute; right: -9999px;
  margin: 20px 0 0 0px; padding: 3px 3px 3px 3px;
  border-style:solid; border-color:black; border-width:1px; z-index: 6;}
span.dropt:hover span {right: 10%; background: #ffffff;} 
span.dropt span {position: absolute; right: -9999px;
  margin: 4px 0 0 0px; padding: 3px 3px 3px 3px; 
  border-style:solid; border-color:black; border-width:1px;}
span.dropt:hover span {margin: 20px 0 0 170px; background: #ffffff; z-index:6;} 

/* famhistory */

h3.fam {color:#000066; text-align:left; font-size:24;}

p.nav {text-align:center;}
p.fam {color:#000066; text-align:left; font-size:18; text-indent:50px;}
p.fam-l {color:#000066; text-align:left; font-size:18;}
p.fam-r {color:#000066; text-align:right; font-size:18;}
p.fam-c {color:#000066; text-align:center; font-size:18;}
p.img {text-align:center; text-align: center;}

a.fam:link    {color:#000066;}
a.fam:visited {color:#000066;}
a.fam:hover   {color:red;}

/* navbar */  

.nav { list-style:none; margin:30px; padding:0; text-align:center;}
.nav li{ display:inline}
.nav a{ display:inline-block; padding:8px; background:#6a8da5; color:#eee; border-left:0px solid #bcc6c2;}
.nav li a:hover{ background:#cbebff; color:#000}

/* personalgallery */

div.img {margin-left: auto;margin-right: auto; padding: 5px; height: auto; width: auto; float: left; text-align: center;}	
div.img img {margin: 5px; border-radius: 20%; opacity: 0.75;}
div.img a:hover img { -moz-box-shadow: 0 0 300px #ccc; -webkit-box-shadow: 0 0 300px #ccc; box-shadow: 0 0 70px #515151; opacity: 1;}
div.desc {text-align:center; width:140px; margin:5px;}

/* family tree test 
* {margin: 0; padding: 0;}
.tree ul {padding-top: 20px; position: relative;transition: all 0.5s;-webkit-transition: all 0.5s;-moz-transition: all 0.5s;}
.tree li {float: left; text-align: center;list-style-type: none;position: relative;padding: 20px 5px 0 5px;transition: all 0.5s;-webkit-transition: all 0.5s;-moz-transition: all 0.5s;}
.tree li::before, .tree li::after{content: '';position: absolute; top: 0; right: 50%;border-top: 1px solid #ccc;width: 50%; height: 20px;}
.tree li::after{right: auto; left: 50%;border-left: 1px solid #ccc;}
.tree li:only-child::after, .tree li:only-child::before {display: none;}
.tree li:only-child{ padding-top: 0;}
.tree li:first-child::before, .tree li:last-child::after{border: 0 none;}
.tree li:last-child::before{border-right: 1px solid #ccc;border-radius: 0 5px 0 0;-webkit-border-radius: 0 5px 0 0;-moz-border-radius: 0 5px 0 0;}
.tree li:first-child::after{border-radius: 5px 0 0 0;-webkit-border-radius: 5px 0 0 0;-moz-border-radius: 5px 0 0 0;}
.tree ul ul::before{content: '';position: absolute; top: 0; left: 50%;border-left: 1px solid #ccc;width: 0; height: 20px;}
.tree li a{border: 1px solid #ccc;padding: 5px 10px;text-decoration: none;color: #000000;font-family: arial, verdana, tahoma;font-size: 11px;display: inline-block;border-radius: 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;transition: all 0.5s;-webkit-transition: all 0.5s;-moz-transition: all 0.5s;}
.tree li a:hover, .tree li a:hover+ul li a {background: #c8e4f8; color: #000; border: 1px solid #94a0b4;}
.tree li a:hover+ul li::after, 
.tree li a:hover+ul li::before, 
.tree li a:hover+ul::before, 
.tree li a:hover+ul ul::before{border-color:  #94a0b4;} */